@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Vollkorn:ital@0;1&display=swap');

:root {
    --dark: #404040;
    --darkness: #333333;
    --dark-gray: #47474F;
    --black: #212121;
    --gray: #ABABAB;
    --cream: #FEFEC9; 
    --smoke: #F5F5F5;
    --cyan: #8BCAC3;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

body {
    font-family: 'Vollkorn', serif;
    color: var(--darkness);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}

.header {
    height: 100px;
    padding: 20px 0;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--dark);
    
    display: flex;
    gap: 35px;
}

.menu a:hover {
    text-decoration: underline;
}

.hero {
    color: #fff;

    padding: 100px 0;
    position: relative;
    text-align: center;

    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-color: #A8BABC;
}

.hero .hero__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 30px;
}

.hero .hero__text {
    margin-top: 25px;
}

.hero .hero__cross {
    position: absolute;
    bottom: -26px;
    left: calc(50% - 26px);
}

.line {
    background-color: var(--cream);
    padding: 60px 0;
    text-align: center;
}

.line .line__text {
    font-size: 18px;
    color: var(--dark-gray);
    line-height: 25px;
}

.line .line__button {
    margin: 40px auto 0;
}

.button {
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    border-bottom-width: 2px;
    background-color: transparent;
    display: block;
    width: max-content;
    padding: 14px 35px 20px;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.button--blue {
    color: var(--cyan);
    border-color: var(--cyan);
}

.button:hover, .button:focus, .button:active {
    background-color: var(--dark-gray);
    color: #fff;
}

.button--blue:hover, .button--blue:focus, .button--blue:active {
    background-color: var(--cyan);
    color: #000;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.delimeter {
    display: block;
    margin: 30px auto 40px;
}

.steps, .projects, .team, .reviews, .contacts, .footer {
    padding: 70px 0;
}

.steps .steps__list {
    display: flex;
    justify-content: space-between;
}

.step {
    text-align: center;
    width: calc(33% - 13px);
}

.step .step__block {
    background-color: var(--smoke);
    padding: 50px 0;
}

.step .step__name {
    text-transform: uppercase;
    font-weight: 400;
    margin: 40px 0 20px;
}

.step .step__text {
    font-size: 15px;
}

.projects {
    background-color: var(--smoke);
}

.projects .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project {
    width: calc(33% - 13px);
}

.project--loading {
    position: relative;
}

.project--loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #fff;
    animation: loading-bg 6s ease;
}

.project--loading::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    z-index: -1;
    background-color: var(--cyan);
    animation: rotating 2s ease infinite, loading-loader 6s ease;
}


@keyframes loading-bg {
    0% {
        z-index: 1;
    }
    90% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading-loader {
    0% {
        z-index: 2;
    }
    90% {
        z-index: 2;
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes rotating {
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateZ(180deg);
        scale: 1.5;
    }
    75% {
        transform: rotateX(180deg);
    }
    100% {
        scale: 1;
    }
}

.project .project__preview {
    object-fit: cover;
}

.project img {
    max-width: 100%;
}

.project .project__content {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

.project .project__title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.project .project__text {
    font-size: 14px;
}

.team .team__list {
    display: flex;
    justify-content: space-between;
}

.employee {
    text-align: center;
    width: calc(25% - 15px);
}

.employee .employee__name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
}

.employee .employee__post {
    font-size: 14px;
    margin: 5px 0 20px;
}

.employee .employee__socials {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}

.reviews {
    background-color: var(--smoke);
}

.reviews .delimeter {
    margin-top: 0;
}

.reviews .reviews__list {
    display: flex;
    justify-content: space-around;
}

.review {
    text-align: center;
    width: calc(50% - 100px);
}

.review .review__text {
    font-size: 26px;
    margin-bottom: 25px;
}

.review .review__author {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.contacts {
    background-image: url('../img/contacts-bg.jpg');
    background-size: cover;
    background-color: #8CCAC5;
} 

.contacts .contacts__list {
    display: flex;
}

.contact {
    text-align: center;
    color: var(--black);
    width: 33%;
}

.contact .contact__image {
    height: 65px;
}

.contact .contact__title {
    color: var(--darkness);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 25px 0 20px;
}

.contact .contact__link {
    margin-bottom: 10px;
}

.footer {
    background-color: #000;
    text-align: center;
}

.footer .footer__text {
    color: rgba(255, 255, 255, .4);
    margin-top: 15px;
}

.form {
    width: 550px;
    margin: 0 auto 40px;
}

.form .form__input {
    background-color: var(--darkness);
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    height: 60px;
    padding: 0 30px;
}

.form .form__input::placeholder {
    opacity: 1;
}

.form .form__submit {
    margin: 20px auto 0;
}

.form textarea.form__input {
    height: 130px;
}

.form .form__label {
    margin-bottom: 5px;
    display: inline-block;
}

.form .form__element {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.form .form__line {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.form .form__line .form__label {
    margin-bottom: 0;
}

.form .form__radio {
    height: 20px;
    width: 20px;
}

.form .form__button {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    background-color: var(--darkness);
    color: #fff;
    border: none;
    margin: 20px auto 0;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;
}

fieldset legend {
    margin-bottom: 10px;
}

.registration {
    background-color: var(--smoke);
    padding: 60px 0;
}

.registration .registration__form {
    background-color: #000;
    padding: 30px;
    color: #fff;
}

::selection {
    background-color: black;
    color: white;
}

.form .form__input:focus ~ label {
    color: cyan;
}

.form .form__row:nth-child(2n) {
    opacity: .8;
}

.form .form__row:nth-child(2n + 1) {
    opacity: .6;
}

.form .form__radio:checked ~ label {
    color: cyan;
}

.form .form__button:disabled {
    opacity: 0.5;
    cursor: default;
}

.form .form__input:required {
    box-shadow: 0 2px 5px red;
}

.form .form__input--textarea {
    padding: 30px;
}

.form dd {
    margin-bottom: 10px;
}

.form dd::before {
    content: "🛈";
    margin-right: 5px;
}

.form dt::first-letter {
    font-size: 24px;
    color: var(--cyan);
}

.form .form__title {
    color: var(--cyan);
    margin-bottom: 10px;
}

.pseudo-elements li:nth-child(2n + 1) {
    text-transform: uppercase;
}

.demo {
    padding: 100px 0;
}

.demo .demo__gradients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo .demo__gradient {
    height: 200px;
    width: 200px;
}

.demo .demo__gradient--linear {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 50%, rgba(0,212,255,1) 100%);
}

.demo .demo__gradient--radial {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 50%, rgba(0,212,255,1) 100%);
}

.demo .demo__gradient--conic {
    border-radius: 50%;
    background: conic-gradient(red, orange, yellow, green, cyan, blue, purple);
}

.demo .demo__animations {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px var(--purple);
    border-style: dotted;
    padding: 10px;
}

.demo .demo__animation {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--purple);
    border: 2px solid #000;
}

.demo .demo__animations--2d .demo__animation--first {
    animation: demoAnimation2D-first 3s ease-in-out infinite alternate;
}

.demo .demo__animations--2d .demo__animation--second {
    animation: demoAnimation2D-second 3s ease-in-out infinite alternate;
}

.demo .demo__animations--3d .demo__animation--first {
    animation: demoAnimation3D-first 3s ease-in-out infinite alternate;
}

.demo .demo__animations--3d .demo__animation--second {
    animation: demoAnimation3D-second 3s ease-in-out infinite alternate;
}

.demo .demo__animations--transition:hover .demo__animation {
    transform: translateX(100px);
}

.demo .demo__animations--transition .demo__animation--first {
    transition: transform 1s ease-in-out;    
}

.demo .demo__animations--transition .demo__animation--second {
    transition: transform 1s cubic-bezier(.29, 1.01, 1, -0.68);    
}

@keyframes demoAnimation2D-first {
    from {
        transform: translate(-100px, 0);
    }
    to {
        transform: translate(100px, 0);
    }
}

@keyframes demoAnimation2D-second {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, -100px);
    }
}

@keyframes demoAnimation3D-first {
    from {
        transform: scale3d(0, 0, 0);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes demoAnimation3D-second {
    from {
        transform: rotate3d(0);
    }
    to {
        transform: rotate3d(1, 1, 1, 90deg);
    }
}